/* ===== DEBUG MODE ===== */

// 0 - not on debug mode
// 1 - highlights with red border
$debugMode: 0;
/* ===== GRID AND VIEWPORTS ===== */

// Number of columns
$grid-columns: 12;
// Column padding. Divided by two, between left and right
$grid-gutter-width: 30px;
$screen-xs : 320px;
$screen-sm : 768px;
$screen-md : 992px;
$screen-lg : 1200px;
$screen-xl : 1500px; // will be the maximum width of the site
$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
/* ===== COLORS ===== */

$brand-primary : #0298ae;
$brand-primary-lighter: #0298ae;
$brand-primary-darker : #0298ae;
$brand-accent : #ffdf01;
$brand-accent-lighter : #feee82;
$brand-accent-darker : #ccb201;
// Usually text color accross all site
$brand-default : #666;
$brand-default-lighter: #999;
$brand-default-darker : #333;
// Feedback colors - usually colors to be used on
// messages of success, warning or error from forms.
$brand-success : #95db94;
$brand-info : #0298ae;
$brand-warning : #d7a436;
$brand-danger : #f74545;
/* ===== FONTS ===== */

$font: 'Roboto', sans-serif;
$font-variant: 'Oleo Script', sans-serif;
$font-size : 16px;
$font-line-height : 22px;
/* ===== BOOTSTRAP EXTRAS ===== */

// 0 to disable
// 1 to enable
$bootstrap-buttons : 0;
$bootstrap-code: 0;
$bootstrap-print: 0;
$bootstrap-tables: 0;
$bootstrap-forms: 0;
$bootstrap-glyphicons: 0;
$bootstrap-component-animations: 0;
$bootstrap-dropdowns: 0;
$bootstrap-button-groups: 0;
$bootstrap-input-groups: 0;
$bootstrap-navs: 0;
$bootstrap-navbar: 0;
$bootstrap-breadcrumbs: 0;
$bootstrap-pagination: 0;
$bootstrap-pager: 0;
$bootstrap-labels: 0;
$bootstrap-badges: 0;
$bootstrap-jumbotron: 0;
$bootstrap-thumbnails: 0;
$bootstrap-alerts: 1;
$bootstrap-progress-bars: 0;
$bootstrap-media: 0;
$bootstrap-list-group: 0;
$bootstrap-panels: 0;
$bootstrap-responsive-embed: 0;
$bootstrap-wells: 0;
$bootstrap-close: 0;
$bootstrap-modals: 0;
$bootstrap-tooltip: 0;
$bootstrap-popovers: 0;
$bootstrap-carousel: 0;

/* COOKIES */
$cookies-bgColor: #f2f2f2;
$cookies-textColor: #333;
$cookies-fontSize: 14px;


/* MENU */

$header-backgroundColor: #fff;
$navbarH: 87px;
$navbarHM: 61px;
$menu-link-textColor: #333;
$menu-link-textColor-hover: #fb6e6a;

/* headers and paragraphs */

$text-color: #333;
$head-title: #232323;
/* buttons DEFAULT */

$btnDefault-border: 1px solid;
$btnDefault-borderColor: #6a615d;
$btnDefault-bgColor: transparent;
$btnDefault-textColor: #6a615d;
/* buttons DEFAULT - hover */

$btnDefault-borderColor-hover: #6a615d;
$btnDefault-bgColor-hover: #6a615d;
$btnDefault-textColor-hover: #fff;
/* button HIGHLIGHT */

$btnHightlight-border: 1px solid;
$btnHightlight-borderColor: #fb6e6a;
$btnHightlight-bgColor: #fb6e6a;
$btnHightlight-textColor: #fff;
/* button HIGHLIGHT - hover */

$btnHightlight-bgColor-hover: transparent;
$btnHightlight-borderColor-hover: #fb6e6a;
$btnHightlight-textColor-hover: #fb6e6a;
/* sliders */

$slider-text-color: #fff;
/* BREADCRUMB */

$breadcrumb-fontSize: 12px;
$breadcrumb-textColor: #333;
/* PRODUCT CARD - CATEGORY */

$productCard-fontSizeCategory: 13px;
$productCard-marginCategory: 10px 0;
$productCard-fontWeightCategory: 500;
$productCard-colorCategory: #333;
/* PRODUCT CARD - TITLE */

$productCard-fontSizeTitle: 18px;
$productCard-marginTitle: 0 0 20px;
$productCard-fontWeightTitle: 900;
$productCard-colorTitle: #333;
/* PRODUCT CARD - PRICE */

$productCard-colorPrice: #333;
$productCard-fontWeightPrice: 700;
$productCard-fontSizePrice: 23px;
$productCard-marginPrice: 0 5px 0 0;
/* PRODUCT CARD - OLD PRICE */

$productCard-colorOldPrice: $brand-danger;
$productCard-fontWeightOldPrice: 400;
$productCard-fontSizeOldPrice: 15px;
/* FLOAT BAR - PRODUCT PAGE */

$floatBar-bgColor: #f2f2f2;
$floatBar-padding: 10px 0;
/* SHARE SOCIAL NETWORKS */

$share-fontSize: 20px;
$share-textColor: #232323;
$share-textColor-hover: #777;
$share-display: inline-block;
$share-margin: 0 25px 0 0;
/* INPUTS */

$input-border: 1px solid #ddd;
$input-padding: 7px;
$input-textColor: #333;
/* CHECKOUT CART */

$checkoutCart-padding: 10px;
$checkoutCart-titleBgColor: #f2f2f2;
$checkoutCart-border: 1px solid #ddd;
$checkoutCart-borderRadius: 6px;
$checkoutCart-footerBgColor: $checkoutCart-titleBgColor;
/* CHECKOUT TABLE */

$table-padding: 10px;
$table-textColorTH: #888;
$table-fontWeightTH: 400;
/* TESTIMONIALS */

$testimonial-fontStyle: italic;
$testimonial-textColor: #8d7772;
$testimonial-fontWeight: 500;
$testimonial-fontSize: 13px;
$testimonial-textTransform: none;

/* FOOTER */
$footer-padding: 30px 0;
$footer-paddingMobile: 20px 0;
$footer-linkColor: #000;
$footer-linkColor-hover: #fb6e6a;
$footer-fontSize: 15px;
$footer-itemPadding: 0;
$footer-itemMargin: 3px 0;
$footer-itemMarginMobile: 10px 0;
$footer-backgroundColor: #f1e3dd;

/* IMAGES */
$images-border: 2px solid #fb6e6a;
$images-borderWidth: 100%;
$images-borderHeight: 100%;
$images-borderPosition: absolute;
$images-borderPositionTop: 10px;
$images-borderPositionBottom: auto;
$images-borderPositionLeft: 10px;
$images-borderPositionRight: auto;