.post-article h2{
    margin-bottom: 20px;
    // font-family: $font-variant;
    // text-transform: none;
    // font-weight: normal;
}
.post-article .btn{
    display: inline-block;
    margin: 20px 0 0;
}