footer {
    background-color: $footer-backgroundColor;
    padding: 30px 0;
    @include max-xs{
        padding: 20px 0;
    }
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    @include max-xs{
        column-count: 1;
    }
}

.footer-item {
    position: relative;
    display: block;
    margin: 3px 0;
    @include max-xs{
        margin: 10px 0;
    }
}

.footer-link {
    display: block;
    width: 100%;
}
