.institutional-banner{
    overflow: hidden;
    position: relative;
}
.institutional-banner .wrapper-slide {
    opacity: 1;
}
.institutional-banner--masked::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%, 100%);
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: .3);
}

.swiper-container--masked .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .2);
    z-index: 1;
}

.swiper-container .swiper-slide {
    position: relative;
}

.swiper-pagination-bullets {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    background: none;
    border: 1px solid white;
    transition: all 200ms ease-out;
    &.swiper-pagination-bullet-active {
        background: none;
        border-width: 2px
    }
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23DDDDDD'%2F%3E%3C%2Fsvg%3E");
    left: 20px;
    transition: left 200ms ease;
    &:hover {
        left: 10px;
    }
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 27 44'%3E%3Cpath d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z' fill%3D'%23DDDDDD'%2F%3E%3C%2Fsvg%3E");
    right: 20px;
    transition: right 200ms ease;
    &:hover {
        right: 10px;
    }
}

.image-bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1080px;
    position: relative;
}

.wrapper-slide {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    z-index: 2;
    color: $slider-text-color;
    opacity: 0;
}

.wrapper-slide strong {
    font-size: 75px;
    text-transform: uppercase;
    line-height: normal;
}

.wrapper-slide p {
    font-size: 16px;
    font-weight: 100;
    color: $slider-text-color;
}

/*  owl carousel */
.owl-carousel:not(.product-carousel){
    .owl-dot span{
        background-color: transparent !important;
        border: 2px solid #333;
        opacity: .2;
    }
    .owl-dot:hover span,
    .owl-dot.active span{
        opacity: 1;
        background-color: transparent !important;
    }
}