/* elemento que contem todos os produtos adicionados ao carrinho */

.side-cart {
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1001;
    height: 100%;
    padding: 20px;
    transition: right 400ms ease-in-out;
    width: 400px;
    -webkit-box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.35);
    overflow-y: auto;
    @include max-xs {
        width: 100%;
        right: -200%;
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.side-cart.active {
    right: 0;
}

.side-cart__list {
    margin: 30px 0;
    padding: 0;
    list-style: none;
    transition: all 300ms ease;
}

.side-cart__list>li {
    padding: 10px 10px 10px 65px;
    display: block;
    width: 100%;
    position: relative;
    transition: all 300ms ease;
}

.side-cart__list>li img {
    position: absolute;
    top: 10px;
    left: 0;
}

.cart-qty {
    margin: 10px 0 0 0;
    display: inline-block;
}

.cart-qty>* {
    display: inline;
    margin: 0;
    float: left;
    margin-right: -1px;
}

.cart-qty__input {
    width: 40px;
    text-align: center;
    padding: 2px 0px;
    border: 1px solid #ddd;
    background-color: transparent
}

.cart-qty__btn {
    padding: 2px 10px;
    border: 1px solid #ddd;
    background-color: transparent;
    transition: all .2s ease-in-out;
    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.cart-qty__btn,
.cart-qty__input {
    font-size: 12px;
    font-weight: 500;
}

.side-cart__item {
    border-top: 1px solid #d2d2d2;
    &:last-child {
        border-bottom: 1px solid #d2d2d2;
    }
}

.side-cart__item a {
    color: #272727;
    font-weight: 400;
    font-size: 14px;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.cart-item__value {
    float: right;
    font-weight: bold;
    @include max-xs {
        float: none;
        margin-top: 10px;
        display: block;
    }
}

.cart-qty--large {
    margin: 0;
}

.cart-qty--large>* {
    margin-right: -1px;
}

.cart-qty--large .cart-qty__btn,
.cart-qty--large .cart-qty__input {
    font-size: 18px;
    font-weight: 500;
}

.cart-qty--large .cart-qty__input {
    width: 60px;
    border: 1px solid #333;
    padding: 7px 0;
    @include max-sm {
        width: 40px;
    }
}

.cart-qty--large .cart-qty__btn {
    border: 1px solid #333;
    transition: all .2s ease-in-out;
    padding: 7px 20px;
    &:hover {
        background-color: #333;
        color: #fff;
    }
    @include max-sm {
        padding: 7px 10px;
    }
}

.qty-less {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.qty-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* o estado default do carrinho com o numero de items, está escondido se estiver vazio */

.cart-shopping span {
    display: none;
    background-color: $brand-danger;
    position: absolute;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    right: -2px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    color: #fff;
    font-family: $font;
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

/* se tiver a class has-items o numero de items irá aparecer */

.cart-shopping.has-items span {
    display: flex;
}

.side-cart__total {
    position: relative;
    display: block;
    width: 100%;
}

.side-cart__total-total {
    float: left;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: $text-color;
}

.side-cart__total-value {
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: $text-color;
}

.side-cart__buttons {
    margin: 30px 0 0;
    position: relative;
}

.side-cart__buttons .btn {
    float: left;
    &:last-child {
        float: right;
    }
}

.side-cart__del {
    border: 1px solid #333;
    padding: 2px 4px;
    text-decoration: none;
    margin-left: 15px;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-weight: 400;
    font-size: 12px;
    transition: all .2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
        text-decoration: none;
        background-color: #333;
        color: white;
    }
}